:root {
  --text-primary: #000000;
  
  --bg-card: #ffffff;
}

body {
  background-color: #ffffff;
  color: black;
  min-height: 100vh;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 5px solid #ffffff; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.notes {
  background-color: var(--bg-card);
  color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 26px;
}
@media (max-width: 768px) {
  .notes {
    grid-template-columns: 1fr;
  }
}

.note-container {
  background-color: var(--bg-card);
  border-radius: 10px;
  padding: 8px;
  box-shadow: 0 3px 6px #454545;
}
.note-title {
  color: var(--text-primary);
  font-weight: bold;
  font-size: 1.2rem;
}
.note-content {
  color: black;
}
.note-date {
  opacity: 0.6;
}

.note-heading {
  background-color: var(--text-primary);
  color: var(--bg-card);
  margin: 0;
  padding: 8px;
  font-weight: 500;
  text-align: center;
  font-size: 2.4rem;
}

.create-container {
  padding: 30px;
  background-color: var(--bg-card);
  max-width: 420px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: black;
  border-radius: 10px;
}

.create-heading {
  color: var(--text-primary);
}

.div1 {
  padding: 30px;
}

.create-form {
  border: 1px solid var(--text-primary);
  padding: 2rem;
  border-radius: 10px;
  background-color: #1a1d20;
  width: 340px;
  padding: 30px;
}
.create-form:hover {
  background-color: #15171a;
}
.create-btn {
  width: 100%;
}

.create-input {
  width: 100%;
  background-color: #2b3035;
  border: 1px solid transparent;
  padding: 6px;
  color: white;
  border-radius: 4px;
}

.create-input:focus {
  outline: none;
  border: none;
  border: 1px solid black;
}

.create-textarea{
  min-height: 120px;
  resize: vertical;
}

.create-circle-box {
  position: fixed;
  right: 3%;
  bottom: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-circle {
  background-color: var(--text-primary);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-circle:hover {
  background-color: #f6b903;
}

.circle-plus {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 45px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .create-circle {
    width: 60px;
    height: 60px;
  }
  .circle-plus {
    font-size: 27px;
  }
  .create-circle-text {
    font-size: 0.9rem;
  }
}

.create-circle-text {
  color: var(--text-primary);
  font-size: 1rem;
}